@mixin flex($direction,$ai,$jc){
    display: flex;
    flex-direction: $direction;
    align-items: $ai;
    justify-content: $jc;
}

@mixin btn1(){
    &:hover{
        // color: lighten($color: $primaryColor, $amount: 40%);
        color: lighten($color: black, $amount: 0);
        text-decoration: underline;
    }
}

@mixin btn(){
    &:hover{
        background-color:darken($color:$btnColor,$amount:20%);
        cursor: pointer;
    }
}

@mixin grid(){
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 15px;
    align-self: center;
}